@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}

input[type="text"]{
    padding: 0.5rem;
    margin-bottom: 1rem;
    min-width: 30rem;
    border-radius: 0.25rem;
    border: 1px gray solid;
}

input[type="checkbox"]{
    width: 1rem;
    height: 1rem;
}

input[type="checkbox"]:checked + label{
    text-decoration: line-through;
    color: gray;
}

label{
    padding-left: 0.5rem;
}

label, input[type="checkbox"]{
    cursor:pointer;
    transition: 0.4s ease all;
}

label::first-letter{
    text-transform: capitalize;
}

div.navigation {
    padding-bottom: 2rem;
}
div.navigation button {
    margin-right: 1rem;
}

div.import-set span {
    margin-right: 1rem;
}

/* a lego set entry */
ul.lego-sets {
    display: grid;
    list-style: none;
    padding: 0;
}
ul.lego-sets>li>div>img {
    width: 80px;
}

ul.lego-sets>li>div {
    display: grid;
    grid-template-columns: 80px auto 1fr 1fr;
    justify-content: start;
    gap: 0 1rem;
    padding: 0.5rem 0;
}


ul.lego-sets>li>div>div {
    display: grid;
    grid-template-rows: auto fit-content;
}

ul.lego-sets>li>div>div>span:first-child {
    font-weight: bold;
}

div.owned-sets>div {
    display: grid;
    grid-template-columns: 80px auto 1fr 1fr;
    justify-content: start;
    gap: 0 1rem;
    padding: 0.5rem 0;
}
div.owned-sets>div>div {
    display: grid;
    grid-template-rows: auto fit-content;
}
div.owned-sets>div>div>span:first-child {
    font-weight: bold;
}
div.owned-sets>div>img {
    width: 80px;
}

div.lego-set-detail>img {
    max-width: 50%
}

div.attributes-table span, div.attributes-table a {
    display: block;
}
div.attributes-table>div {
    display: grid;
    grid-template-colums: 1fr 1fr;
    padding: 0.5rem 0;
}
div.attributes-table>div>span:first-child {
    font-weight:bold;
}

div.part-list>div>img {
    width: 100px;
}
div.part-list>div {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr;
    gap: 0 1rem;
    padding: 0.5rem 0;
}
div.part-list>div>div, div.part-list>div>div>div {
    display: grid;
    grid-template-rows: auto auto;
}
div.part-list>div>div>div {
    padding-bottom: 0.5rem;
}
div.part-list>div>div>span:first-child, div.part-list>div>div>div>span:first-child {
    font-weight: bold;
}

div.part-occurrence-in-sets>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
div.part-occurrence-in-sets>div>div {
    display: grid;
    grid-template-rows: auto auto;
    padding: 0.5rem 1rem 0.5rem 0;
}
div.part-occurrence-in-sets>div>div>span:first-child {
    font-weight: bold;
}

.todo-list{
    display:grid;
    grid-template-rows: auto fit-content auto;
    max-width: 30rem;
}

.todo-items{
    display:grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0.5rem 0;
    padding: 0 0.25rem;
}

.counter{
    justify-self: center;
}

.count{
    font-size: 1.25rem;
}
table {
    border-collapse: collapse;
}
table td {
    padding: 0.3rem;
    border-width: 1px;
    border-style: solid;
}
